{% extends 'themes/default/super/layout/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('default_super_home') }}
{% endblock %}

{% block title %}Dashboard {{ parent() }}{% endblock %}

{% block main_content %}
    <h1>Administrator</h1>

    <section class="dashboard">
        <div class="dashboard-line dashboard-line-0">
            <a href="{{ path('super_users_index') }}" class="card-dash card-dash-0">
                <div class="card-header">
                    <div class="number">
                        <span>{{ totalUsers }}</span> 
                        {% if totalNewUsers > 0 %}
                            <span class="number-new">+ {{ totalNewUsers }}</span>
                        {% endif %}
                    </div>
                    <div class="label">Nombre d'utilisateurs</div>
                </div>
                <div class="card-footer">
                    <div class="card-illu card-illu-0">
                        <span class="icon-user"></span>
                    </div>
                </div>
            </a>
            <a href="{{ path('super_rgpd_index') }}" class="card-dash card-dash-1">
                <div class="card-header">
                    <div class="number">
                        <span>{{ totalRgpds }}</span> 
                    </div>
                    <div class="label">Demandes RGPD</div>
                </div>
                <div class="card-footer">
                    <div class="card-illu card-illu-1">
                        <span class="icon-padlock"></span>
                    </div>
                </div>
            </a>
        </div>
    </section>
{% endblock %}