{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('default_security') }}
{% endblock %}

{% block main_content %}
    <div id="form-reinit" data-url={{ path('app_password_reinit', {'token': token, 'code': code}) }}></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('default_security') }}
{% endblock %}