{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('default_homepage') }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    Hello world 

    <div id="r-compteur" class="compteur" data-count="1946">0</div>

    <ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
        {% endif %}
        <li><a href="{{ path('app_mentions') }}">Mentions</a></li>
        <li><a href="{{ path('app_politique') }}">Politique</a></li>
        <li><a href="{{ path('app_cookies') }}">Cookies</a></li>
        <li><a href="{{ path('app_rgpd') }}">RGPD</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('default_homepage') }}
{% endblock %}