{% extends 'themes/default/base.html.twig' %}

{% block title %}| Administrator{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('default_super') }}
{% endblock %}

{% block body %}
    {% set menu = [
        {
            'path': path('super_dashboard'),
            'icon': 'home',
            'label': 'Dashboard',
            'name': 'dashboard'
        },
        {
            'path': path('super_users_index'),
            'icon': 'user',
            'label': 'Utilisateurs',
            'name': 'utilisateurs'
        },
        {
            'path': path('super_rgpd_index'),
            'icon': 'certificate',
            'label': 'RGPD',
            'name': 'rgpd'
        },
        {
            'path': path('admin_dashboard'),
            'icon': 'earth',
            'label': 'Dashboard Admin',
            'name': 'dashboard-admin'
        },
        {
            'path': path('app_homepage'),
            'icon': 'earth',
            'label': 'Retour au site',
            'name': 'site'
        }
    ] %}

    <div id="default" 
        data-menu="{{ menu | json_encode() }}" 
        data-username="{{ app.user.username | capitalize }}" 
        data-avatar="{{ app.user.avatar }}"
    ></div>

    <main>        
        {% block main_content %}{% endblock %}
    </main>

    <footer>
        <div class="copyright">Copyright 2020 - Logilink</div>
    </footer>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('default_super') }}
{% endblock %}